@model IEnumerable<Database_Coursework_MVC.Models.StudentModel>

@{
    ViewData["Title"] = "Index";
}

<h1 style="opacity: 0.2;font-size: 6rem;font-weight:bold">Student's List</h1>
<table class="table mt-3">
    <thead class="thead-dark">
        <tr>
            <th>
                Student ID
            </th>
            <th>
                Student Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentName)
                </td>
                <td>
                    <button class="btn btn-outline-primary btn-sm"> @Html.ActionLink("Edit", "Edit", new { id = item.StudentId })</button>
                    <button class="btn btn-outline-danger btn-sm">@Html.ActionLink("Delete", "Delete", new { id = item.StudentId })</button>

                </td>
            </tr>
        }
    </tbody>
</table>

<p class="col-md-12 text-center">
    <a class="btn btn-outline-success" asp-action="Create">ADD</a>
</p>
<!-- <button asp-page-handler="Delete" asp-route-id="item.StudentId" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger btn-sm">Delete</button> !-->
