@model IEnumerable<Database_Coursework_MVC.Models.StudentFeeModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Student List</h1>
<table class="table mt-4">
    <thead>
        <tr>
            <th>
                Student ID
            </th>
            <th>
                Student Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.ActionLink("Fee Details", "StudentFeeDetails", new { id=item.StudentId })
            </td>
        </tr>
}
    </tbody>
</table>
