@{
    ViewData["Title"] = "Home Page";
}
<style>
    * {
        scroll-behavior: smooth;
    }

    .card-header h1, h4 {
        opacity: 0.4 !important;
        margin-top: 0.5rem;
    }

    .card {
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
        filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
    }
</style>
<div class="card mt-4">
    <div class="card-header bg-dark text-white text-center">
        <h1 class="font-weight-bold">Welcome</h1>
    </div>
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-md-6 text-center">
                <img style="height: 300px" src="~/assets/logo.svg" alt="Logo"/>
            </div>
            <div class="col-md-6">
                <h3 class="font-weight-bold">School Management System</h3>
                <p class="text-justify" style="line-height:1.9em">
                    This web-based application has been created to manage various CRUD operations i.e. create, read, update and delete between entities and models in an college environment. Please feel free to surf through the different web forms listed in the website.
                </p>
            </div>
        </div>

    </div>
</div>
<div class="row mt-5 mb-4 justify-content-center">
    <div class="col-md-6">
        <div class="card text-white bg-dark">
            <div class="card-header text-center">
                <h4 class="font-weight-bold">Basic Web Forms</h4>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a class="nav-link" asp-area="" asp-controller="Student" asp-action="Index">Student</a>
                </li>
                <li class="list-group-item"><a class="nav-link" asp-area="" asp-controller="Teacher" asp-action="Index">Teacher</a></li>
                <li class="list-group-item"><a class="nav-link" asp-area="" asp-controller="Module" asp-action="Index">Module</a></li>
                <li class="list-group-item"><a class="nav-link" asp-area="" asp-controller="Fee" asp-action="Index">Fee</a></li>
                <li class="list-group-item"><a class="nav-link" asp-area="" asp-controller="Address" asp-action="Index">Address</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card text-white bg-dark">
            <div class="card-header text-center">
                <h4 class="font-weight-bold">Complex Web Forms</h4>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a class="nav-link" asp-area="" asp-controller="TeacherModule" asp-action="Index">Teacher Module Details</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-area="" asp-controller="StudentFee" asp-action="Index">Student Fee Payment Details</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-area="" asp-controller="StudentAssignment" asp-action="Index">Student Assignment Details</a>
                </li>
            </ul>
        </div>
    </div>
</div>
